<div class="outer">
    <form nz-form [formGroup]="form" class="login_form" (ngSubmit)="onSubmit()">
        <div class="form_head">
            <span>登 录</span>
        </div>
      <nz-form-item>
        <nz-form-control>
            <input nz-input formControlName="username" placeholder="  用户名">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
            <input nz-input formControlName="password" type="password" placeholder="  密码">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form_bottom">
          <button nz-button nzType="primary" type="submit">登录</button>
          <button nz-button nzType="default" [routerLink]="'/passport/register'">注册</button>
          <br>
          <!-- TODO 找回密码页 -->
          <p class="a"><a nz-button nzType="link" (click)="notfinished()" style="font-size: 12px; text-decoration: underline;">找回密码</a></p> 
      </nz-form-item>
    </form>
</div>
